


<div class="container-fluid">
      <div class="row">
        <div class="sidebar cppe-side-nav" >
          <ul class="nav nav-sidebar">
            <li><a class="nav-link" style="width:100%" routerLink="overview" routerLinkActive="active-class">Overview <span class="sr-only">(current)</span></a></li>
            <li><a class="nav-link" style="width:100%" routerLink="boots" routerLinkActive="active-class">Landing Page</a></li>
            <li><a class="nav-link" style="width:100%" routerLink="colors" routerLinkActive="active-class">Charts</a></li>
            <li><a class="nav-link" style="width:100%" routerLink="data" routerLinkActive="active-class">Data Patterns</a></li>
          </ul>
        </div>
      </div>



  <div class="main-content-wrapper">
    <router-outlet></router-outlet>  
  </div> 
