$cppe-grey-d1: #45515b;

.main-content{
    margin:60px 20px;
}

.container {
    margin: 0px 14px;
    padding: 0px;
}

.cppe-nav {
  color: #fff !important;
  background-color:$cppe-grey-d1 !important;
}
.active-class {
    color:white !important;
    font-weight:bold;
}