
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse cppe-nav" style="min-width:900px"> 
    <div class="container">
        <a class="navbar-brand">CPPE App Style Guide</a>
        <ul class="nav navbar-nav " routerLinkActive="active">

            <li class="nav-item"><a class="nav-link" routerLink="styles" routerLinkActive="active-class">Styles</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="cost" routerLinkActive="active-class">Costs</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="navigation" routerLinkActive="active-class">Navigation</a></li>  
            <li class="nav-item"><a class="nav-link" routerLink="rates" routerLinkActive="active-class">Rental Rates</a></li>                     
        </ul>
    </div>
</nav>
<div class="main-content">
    <router-outlet></router-outlet>
</div>
 
