<p>
  Cost works!
</p>
<div class="side-nav-panel">

 <!--  nav inner  -->   
<div class="nav-side-menu">
    <div class="brand">Left Nav</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list menu-list-top">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#">
                  <i class="fa fa-home fa-lg"></i> Home
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href="#"><i class="fa fa-tachometer fa-lg"></i> Assets <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li class="active"><a href="#">Pads</a></li>
                    <li><a href="#">Rigs</a></li>
                    <li><a href="#">Wells</a></li>
                    <li><a href="#">Drill Types</a></li>
                    <li><a href="#">Engineering</a></li>
                    <li><a href="#">Production</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="#"><i class="fa fa-bar-chart fa-lg"></i> Schedules <span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse" id="service">
                  <li>Attribute 1</li>
                  <li>Attribute 2</li>
                  <li>Attribute 3</li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"><i class="fa fa-industry fa-lg"></i>Facilities<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li>Tank Batteries</li>
                  <li>Flowlines</li>
                  <li>Connectors</li>
                </ul>


                 <li>
                  <a href="#">
                  <i class="fa fa-usd fa-lg"></i> Costs
                  </a>
                  </li>

                 <li>
                  <a href="#">
                  <i class="fa fa-cube fa-lg"></i> Reports
                  </a>
                </li>
            </ul>
     </div>
</div>
<!--  nav inner  -->
</div>






